@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 18px;
	background-color: #fffbf8;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Fraunces', serif;
	font-weight: 900;
}
p{
	color: hsl(232, 10%, 55%);
	font-weight: 600;
	font-family: 'Barlow', sans-serif;
	line-height: 1.6;
}
header{
	background-image: url(images/desktop/image-header.jpg);
	background-position: center;
	height: 700px;
	width: 100%;
	background-size: 100% 100%;
}

.nav-item{
	display: flex;
	justify-content: space-between;
}
.logo{
	padding: 35px;
}
.list-item{
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
	list-style: none;
	display: flex;
	gap: 3rem;
	flex-direction: row;
	padding:45px 70px;
	color: #fff;
}
.nav-links{
	cursor: pointer;
}
li.nav-links:hover {
    text-shadow: 0px 1px 1px #ccc, 1px 2px 1px #ccc, 0px 3px 1px #ccc,0 20px 20px rgba(0, 0, 0, 0.5); 
    transform: scale(1.3);
    transition: 0.4s;
    font-weight: bold;
}
.ham{
	display: none;
}

.btn{
	font-family: 'Fraunces', serif;
	font-weight: 700;
	padding: 20px 35px;
	border: none;
	border-radius: 25px;
	margin-top: -10px;

}
.btn:hover{
	background-color: rgba(255, 255, 255, 0.3);
	color: #fff;
	transition: 0.2s;

}

.home-text{
	display: flex;
	justify-content: center;
	padding-top: 3%;
}

.home-text h1{
	color: #fff;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 12px;
	word-spacing: 9px;
}

.arrow{
	display: flex;
	justify-content: center;
	margin-top: 5%;
	
}

/* Header Tablet Responsive */
@media screen and (min-width: 700px) and (max-width: 800px){
	.list-item{
		padding: 45px 10px;
	}
	.home-text{
		padding-top: 6%;
	}

	.home-text h1{
		font-size: 36px !important;
		text-align: center;
	}
	.arrow{
		position: relative;
		padding-top: 8%;
	}
}

/* Header Mobile Responsive */
@media screen and (max-width: 700px){
	body{
		text-align: center;
	}

	header{
		background-image: url(images/mobile/image-header.jpg);
		height: 550px;
		width: 100%;
		background-size: 100% 100%;
	}
	.ham{
		display: block;
	}
	.cross{
		display: none;
	}
	.menu .cross{
		display: block;
		color: #fff;
		cursor: pointer;
	}
	.menu .hamburger{
		display: none;
	}

	.menu .list-item {
		min-height: 300px;
		max-height: 330px;
		width: 350px;
		opacity: 1;
		transform: scale(1);
		transition: opacity 0.5s;
		
		
	}
	.nav-item{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.logo{
		display: flex;
		justify-content: space-between;
		padding: 40px;
		
	}
	.list-item{
		display: flex;
		flex-direction: column;
		align-items: center;
		color: hsl(210, 4%, 67%);
		background-color: #fff;
		min-height: 0;
		max-height: 0;
		gap:2rem;
		margin: 5% auto;
		padding: 0px 90px;
		position: relative;
		z-index: 1400;
		opacity: 0;
		transform: scale(0);
	}
	
	.list-item::before{
		position: relative;
	    content: '';
	    width: 30px;
	    height: 25px;
	    background-color: #fff;
	    right: -94%;
    	top: -22px;
	
	}
	.list-item::after {
	    position: relative;
	    content: '';
	    width: 40px;
	    height: 39px;
	    background-color: #3ebfff;
	    top: -338.9px;
   		 right: -88%;
	    transform: rotate(55deg);
	}

	.btn{
		
		background-color: hsl(51, 100%, 49%);
	}
	.btn:hover{
		background-color: hsl(51, 100%, 49%) ;
		color: #fff;
		transition: 0.2s;

	}
	.home-text{
		overflow: hidden;
		position: relative;
		z-index: 9;padding-top: 5%;
		
	}
	.menu .home-text{
		display: none;
	}
	.home-text h1{
		font-size: 36px !important;
		text-align: center;
	}
	.arrow{
		position: relative;
		padding-top: 10%;
	}
	.menu .arrow{
		display: none;
	}
}



/*Mid-Content*/
.mid-cont{
	display: grid;
	justify-content: space-between;
	width: 100%;
	grid-template-columns: 1fr 1fr ;
	grid-template-rows: 3fr 3fr 3fr;
}
.left-cont-1{
	grid-column: 1/2;
	grid-row: 1/2;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 20.5%;
}
.left-cont-1 h1{
	font-size: 40px;
}
.left-cont-1 p{
	line-height: 1.6;
	margin-top: 6%;
}
.right-cont-1{
	grid-column: 2/3;
	grid-row: 1/2;
	width: 100%;
}
.first-image{
	background-image: url(images/desktop/image-transform.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

.left-cont-2{
	grid-column: 1/2;
	grid-row: 2/3;
	width: 100%;

}
.second-image{
	background-image: url(images/desktop/image-stand-out.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
.right-cont-2{
	grid-column: 2/3;
	grid-row: 2/3;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 20.5%;
}

.right-cont-2 h1{
	font-size: 40px;
}

.right-cont-2 p{
	line-height: 1.6;
	margin-top: 6%;
}
.graphic-design{
	background-image: url(images/desktop/image-graphic-design.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	grid-column: 1/2;
	grid-row: 3/4;
}

.graphic-design h1,p{
	margin: 2% 0;
	color: hsl(167, 40%, 24%);

}

.photography{
	background-image: url(images/desktop/image-photography.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	grid-column: 2/3;
	grid-row: 3/4;
}

.photography h1,p{
	margin: 2% 0;
	color: hsl(198, 62%, 26%);
}

.bottom-mid-text{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: center;
	text-align: center;
	padding: 10% 24%;
}


.learn{
	border-bottom: 6px solid yellow;
	width: max-content;
}
.learn p{
	cursor: pointer;
	font-family: 'Fraunces', serif;
	font-weight: 900;
	text-transform: uppercase;
	color: hsl(212, 27%, 19%);
	font-size: 16px;

}

/*Mid-Content Mobile Design*/
@media screen and (max-width: 700px){
	.mid-cont{
		display: grid;
		width: 100%;
		grid-template-columns: 1fr ;
		grid-template-rows: repeat(8, 1fr);
	}

	.left-cont-1{
		grid-column: 1/2;
		grid-row: 2/3;
		padding:20% 5%;
		align-items: center;
	}
	.left-cont-1 h1{
		font-size: 34px;
		color: hsl(212, 27%, 19%);
	}	
	.right-cont-1{
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.first-image{
		background-image: url(images/mobile/image-transform.jpg);
		background-size: 100% 100%;
		
	}
	.left-cont-2{
		grid-column: 1/2;
		grid-row: 3/4;
		text-align: center;
	}

	.second-image{
		background-image: url(images/mobile/image-stand-out.jpg);
		background-size: 100% 100%;
		width: 100%;
		height: 100%;
	}
	.right-cont-2{
		grid-column: 1/2;
		grid-row: 4/5;
		align-items: center;
		padding: 20% 8%;
	}
	.right-cont-2 h1{
		font-size: 34px;
		color: hsl(212, 27%, 19%);
	}
	.graphic-design{
		background-image: url(images/mobile/image-graphic-design.jpg);
		background-size: 100% 100%;
		width: 100%;
		height: 100%;
		grid-column: 1/2;
		grid-row: 5/7;
		
	}

	.photography{
		background-image: url(images/mobile/image-photography.jpg);
		background-size: 100% 100%;
		width: 100%;
		height: 100%;
		grid-column: 1/2;
		grid-row: 7/9;
	}
	.bottom-mid-text{
		padding: 49% 2%;
	}

	.learn{
		padding: 4%;
	}


}

/*Testimonials*/
.testi h1{
	font-size: 20px;
	text-align: center;
	margin-top: 9%;
	color: hsl(210, 4%, 67%);
	letter-spacing: 8px;
	text-transform: uppercase;
}

.testi-grid{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;

}

.testi-img img{
	border-radius: 50%;
	width: 15%;
}

.first-testi{
	grid-column: 1/2;
	margin-top: 18%;
	margin-left: 20%;

}
.second-testi{
	grid-column: 2/3;
	margin-top: 18%;
	padding:0% 9%;
}
.third-testi{
	grid-column: 3/4;
	margin-top: 18%;
	margin-right: 20%;
}

.description{
	padding: 10% 4%;

}
.description p{
	color: hsl(213, 9%, 39%);
}
.name p{
	font-size: 16px;
	color: hsl(210, 4%, 67%);
 }

/*Testimonial Mobile resposive*/
@media screen and (max-width: 700px){

	.testi h1{
		text-align: center;
		font-size: 18px;
		letter-spacing: 4px;
		margin-top: 18%;
	}

	.testi-img img{
		width: 20%;
	}
	.testi-grid{
		display: grid;
		width: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		
	}
	.first-testi{
		grid-column: 1/2;
		grid-row: 1/2;
		margin-top: 18%;
		margin-left: 0;

	}
	.second-testi{
		grid-column: 1/2;
		grid-row: 2/3;
		margin-top: 18%;
		margin-left: 0;
		padding:0% 2%;

	}
	.third-testi{
		grid-column: 1/2;
		grid-row: 3/4;
		margin-top: 18%;
		margin-right: 0;

	}
	.description{
		padding: 10% 5%;

	}


}

/*Bottom Image*/

#bottom-images{
	margin-top: 10%;
}

.bottom-images{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
}
.milk-image{
	grid-column: 1/2;
	grid-row: 1/2;
}
.milk-image img{
	width: 100%;
	height: 100%;
}

.orange-image{
	grid-column: 2/3;
	grid-row: 1/2;
}
.orange-image img{
	width: 100%;
	height: 100%;
}
.cone-image{
	grid-column: 3/4;
	grid-row: 1/2;
}
.cone-image img{
	width: 100%;
	height: 100%;
}
.cube-image{
	grid-column: 4/5;
	grid-row: 1/2;
}
.cube-image img{
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 700px){
	.bottom-images{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	.milk-image{
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.orange-image{
		grid-column: 2/3;
		grid-row: 1/2;
	}
	.cone-image{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.cube-image{
		grid-column: 2/3;
		grid-row: 2/3;
	}

}

/*Footer*/

footer{
	
	background-color: hsl(167, 44%, 70%);
}

.logo-foot{
	display: flex;
	justify-content: center; 
	padding-top: 6%;
}
.green-color{
	width: 12%;
	filter: invert(44%) sepia(35%) saturate(527%) hue-rotate(117deg) brightness(85%) contrast(86%);
}


.nav-foot ul{
	display: flex;
	justify-content: center;
	gap:3rem;
	list-style: none;
	color: hsl(167deg 30% 44%);
	font-weight: 600;
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
	padding-top:3%;
}
.foot-list{
	cursor: pointer;
}
.foot-list:hover{
	color: #fff;
	transition: 0.4s ease-out;
}

.media-link{
	display: flex;
	justify-content: center;
	gap:2rem;
	padding: 4%;
}
.media-width{
	width: 1.5%
	height:100%;
	cursor: pointer;
}
.media-width:hover img{
	filter: invert(96%) sepia(100%) saturate(1%) hue-rotate(51deg) brightness(109%) contrast(106%);;
}
.media-width img{
	width: 100%;
	
}
/*Footer Mobile Responsive*/
@media screen and (max-width: 700px){
	.logo-foot{
		padding-top: 12%;
	}
	.green-color{
		width: 40%;
	}
	.nav-foot ul{
		gap:2rem;
		font-size: 18px;
		padding-top: 6%;
	}
	.media-link{
		padding: 14%;
	}
	.media-width{
		cursor: pointer;
	}

}